$background: #3A506B;
$wave-color-first: #1C2541;
$wave-color-second: #2F4259;
$theme-color-1: #6E44FF;
$theme-color-2: #4F1CFF;
$theme-color-3: #6538FF;
$breakpoints: ("xl": 1280px, "lg": 1024px, "md": 768px, "sm": 640px)